body{
    max-width: 1505px;
}
.users-box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 6px solid #7d5d1c;
    background: brown;
    justify-content: space-evenly;

}
.users-box div{

    background-color: #473f40;
    padding: 30px;
    margin: 30px;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid #54583c;
    font-size: 22px;
    color: #a7801f;

}

.users-box h1{
    width: 100%;
    color: #a7801f;
}
.users-box button{
    font-size: 16px;
    width: 200px;
    height: 30px;
    background: #364027;
    color: #e7b87d;
}